.error{
  color: red;
}

.main_content{
  margin-top: 10px;
  margin-left: 160px;
  background-color: ghostwhite;
  min-height: 100vh;
}

.auth_box{
  width: 600px;
  height: 900px;
  overflow-x: auto;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 1%;
}