.header{
  height: 50px;
  background-color: blueviolet;
  position: sticky;
  top:15px;
}

.header_list{
  list-style-type: none;
}

.header_item a{
  color: white;
  float: left;
  padding: 10px;
}

.header_item a:hover{
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.header_item a:active{
  font-weight: bold;
}

.logout{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}