.sidebar{
  width: 150px;
  background-color:blueviolet ;
  height: 100vh;
  position: fixed;
  top:50px;
}

.sidebar a{
  color: white;
  display: block;
  padding: 10px;
}


.sidebar a:hover{
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.sidebar a:active{
  font-weight: bold;
}